/* CSS Introduction */
/* CSS Syntax */
/* CSS Selector */
* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: #634D35;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
}

.media img {
    width: 100%;
  }


  body {
    background-color: #F5EEDD;
    background-image: url(img/kayu.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
  
  #judul {
    background-color:#D9BF77;
    color:  #634D35;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom: 5px solid #634D35;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  #menu {
    background-color:#D9BF77;
    color: #634D35;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 0;
}

#menu a {
    text-decoration: none;
    color:#634D35;
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    transition: transform 0.3s;
}

#menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

#menu a:hover {
    transform: scale(1.1);
}

#menu a:hover::before {
    transform: scaleX(1);
}

  .media img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%; 
    height: auto; 
    max-width: 1000px; 
    transition: transform 0.3s;
    z-index: -2;
  }
  
  .media img:hover {
    transform: scale(1.1); /* Efek */
  }

  .media {
    position: relative;
  }
  
  .media-info {
    background-color: white;
    padding: 20px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  
  .media-info span {
    display: block;
    font-size: 16px;
    color: #666666;
    
  }
  .media-info h1 {
    font-size: 21px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #666666;
    line-height: 1.5;
  }

  .media-info hr {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .content {
    padding-right: 30px;
    padding-left: 40px;
    font-size: 16px;
    font-family: Futura BK BT, sans-serif;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .content .opening p {
    margin-bottom: 30px;
  }
  
  .content img {
    width: 370px;
    height: 245px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .content div h3,
  .content div p {
    margin-bottom: 30px;
  }

  .content div h3 {
    color: #424242;
  }

  .author-info {
    text-align: left;
    margin-top: 20px;
    display: flex;
    align-items: center;

  }
  

  .author-name {
    font-size: 14px; 
    font-weight: bold;
  }
/* CSS How To */
/* CSS Comments */
/* CSS Selector */
  
/* CSS link */
  a {
    text-decoration: none;
    color: #007bff;
  }
  /*CSS tabel */
.tabelheading h2 {
  padding: 15px;
  margin-top: -20px;
}

.tabeljenis {
  border: 1px solid black;
  border-collapse: collapse;
  width: 780px;
  height: 100px;
  text-align: justify;
  margin-top: -20px;
  margin-left: 10px;
}

td {
  text-align: justify;
  padding: 15px;
}

th {
  text-align: center;
}

  a:hover {
    text-decoration: underline;
  }
  #form {
    padding: 20px;
    background-color: #D9BF77;
    color: #634D35;
    border-top: 5px solid #634D35;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
  }

  
